@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #43e97b;

    --background: 149 51.35% 4.72%;
    --foreground: 149 7.9% 97.95%;

    --muted: 149 39.5% 17.7%;
    --muted-foreground: 149 7.9% 55.9%;

    --popover: 149 49.2% 7.67%;
    --popover-foreground: 149 7.9% 97.95%;

    --card: 149 49.2% 7.67%;
    --card-foreground: 149 7.9% 97.95%;

    --border: 149 39.5% 17.7%;
    --input: 149 39.5% 17.7%;

    --primary: 149 79% 59%;
    --primary-foreground: 149 7.9% 5.8999999999999995%;

    --secondary: 149 39.5% 17.7%;
    --secondary-foreground: 149 7.9% 97.95%;

    --accent: 149 39.5% 17.7%;
    --accent-foreground: 149 7.9% 97.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 149 7.9% 97.95%;

    --ring: 149 79% 59%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 5vw, 6rem);
  padding-top: 40px;
  margin-bottom: 80px;
}

.list .songItem {
  color: white;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.list .songItem:hover {
  color: #43e97b;
}

.list .songItem.active {
  color: #43e97b;
}

.list .songItem > span {
  display: flex;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
  align-items: center;
  gap: 8px;
}

.list .songItem:hover > span,
.list .active.songItem > span {
  border-top-color: #43e97b;
  border-bottom-color: #43e97b;
}

.list .songItem > img {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms, opacity 250ms;
  pointer-events: none;
  max-width: 200px;
}

.list .songItem:hover > img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 768px) {
  .list .songItem:hover > img {
    opacity: 0;
  }
}
